*.background: #000000
*.foreground: #ffffff
*.cursorColor: #ff00ff
*.color0: #000000
*.color1: #a366ff
*.color2: #a82ee6
*.color3: #bb66cc
*.color4: #f29df2
*.color5: #4595e6
*.color6: #40dfff
*.color7: #4136d9
*.color8: #7e5ce6
*.color9: #a886bf
*.color10: #c0f0ff
*.color11: #ec006d
*.color12: #ff00ff
*.color13: #ffe369
*.color14: #b08ae6
*.color15: #9045e6
